<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="ibox float-e-margins">
        <div>
          <h3>
            <%= @search_notifications.count %> kết quả cho từ khoá: <span class="text-danger"><%= params["search"] %></span>
          </h3>
          <div class="hr-line-dashed"></div>
          <div class="search-result">
            <% @search_notifications.each do |search_notification| %>
              <h3><%= link_to search_notification.title, chi_tiet_thong_bao_path(search_notification), class: "text-danger" %></h3>
            <% end %>
          </div>
          <% if @search_notifications.count > 10 %>
            <%= render 'shared/pages/pagy_navigation' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>