<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="ibox float-e-margins">
        <div>
          <h3>
            <%= @page_users.count %> kết quả cho từ khoá: <span class="text-danger"><%= params["search"] %></span>
          </h3>
          <div class="hr-line-dashed"></div>
          <div class="search-result">
            <% @page_users.each do |page_user| %>
              <h3><%= link_to page_user.full_name, chi_tiet_nhan_vien_path(page_user), class: "text-danger" %></h3>
            <% end %>
          </div>
          <% if @page_users.count > 10 %>
            <%= render 'shared/pages/pagy_navigation' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>