.top-navigation {
  #page-wrapper {
    margin-left: 0;
  }
  .navbar-nav {
    .dropdown-menu {
      >.active {
        >a {
          background: white;
          color: $navy;
          font-weight: bold;
        }
      }
      box-shadow: none;
      border: 1px solid #e7eaec;
    }
    .open {
      .dropdown-menu {
        >li {
          >a {
            padding: 10px 15px 10px 20px;
          }
        }
        .dropdown-header {
          padding: 10px 15px 10px 20px;
        }
      }
    }
  }
  .navbar {
    margin-bottom: 0;
  }
  .nav {
    >li {
      >a {
        padding: 15px 20px;
        color: #676a6c;
      }
      a {
        &:hover {
          background: #fff;
          color: $navy;
        }
        &:focus {
          background: #fff;
          color: $navy;
        }
      }
    }
    >li.active {
      background: #fff;
      border: none;
      >a {
        color: $navy;
      }
    }
  }
  .navbar-right {
    margin-right: 10px;
  }
  .dropdown-menu {
    >li {
      >a {
        margin: 0;
        padding: 7px 20px;
      }
    }
  }
  .navbar-brand {
    background: $navy;
    color: #fff;
    padding: 15px 25px;
  }
  .navbar-top-links {
    li {
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .footer.fixed {
    margin-left: 0 !important;
  }
  .wrapper.wrapper-content {
    padding: 40px;
  }
}
.white-bg {
  .navbar-fixed-top {
    background: #fff;
  }
  .navbar-static-top {
    background: #fff;
  }
}
.navbar {
  .dropdown-menu {
    margin-top: 0;
  }
}
.top-navigation.mini-navbar {
  #page-wrapper {
    margin: 0;
  }
}
.top-navigation.body-small.fixed-sidebar.mini-navbar {
  #page-wrapper {
    margin: 0;
  }
}
.mini-navbar {
  .top-navigation {
    #page-wrapper {
      margin: 0;
    }
  }
}
.body-small.fixed-sidebar.mini-navbar {
  .top-navigation {
    #page-wrapper {
      margin: 0;
    }
  }
}
.canvas-menu {
  #page-wrapper {
    margin: 0;
  }
}
.top-navigation.fixed-nav {
  #wrapper {
    margin-top: 50px;
  }
}
.fixed-nav {
  #wrapper.top-navigation {
    margin-top: 50px;
  }
}
.top-navigation.body-small {
  .wrapper.wrapper-content {
    padding: 40px 0 40px 0;
  }
}
.body-small {
  .top-navigation {
    .wrapper.wrapper-content {
      padding: 40px 0 40px 0;
    }
  }
}
.navbar-toggle {
  background-color: $navy;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
}
.menu-visible-lg {
  display: none !important;
}
.menu-visible-md {
  display: none !important;
}
@media (max-width: 768px) {
  .top-navigation {
    .navbar-header {
      display: block;
      float: none;
    }
  }
}
@media (min-width: 1200px) {
  .menu-visible-lg {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .menu-visible-md {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .menu-visible-md {
    display: block !important;
  }
  .menu-visible-lg {
    display: block !important;
  }
}
