<% provide(:title, 'Quy định, nội quy') %>
<%= render 'shared/pages/navigation' %>
<%= render 'shared/pages/pagy_navigation' %>

<div class="wrapper wrapper-content  animated fadeInRight blog">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <a href="<%#= url_for :controller => 'appviews', :action => 'article' %>" class="btn-link">
            <h2>
              One morning, when Gregor Samsa
            </h2>
          </a>
          <div class="small m-b-xs">
            <strong>Adam Novak</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>
          </div>
          <p>
            English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
          </p>
          <div class="row">
            <div class="col-md-6">
              <h5>Tags:</h5>
              <button class="btn btn-primary btn-xs" type="button">Model</button>
              <button class="btn btn-white btn-xs" type="button">Publishing</button>
            </div>
            <div class="col-md-6">
              <div class="small text-right">
                <h5>Stats:</h5>
                <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                <i class="fa fa-eye"> </i> 144 views
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <a href="<%#= url_for :controller => 'appviews', :action => 'article' %>" class="btn-link">
            <h2>
              Junk MTV quiz graced by fox whelps.
            </h2>
          </a>
          <div class="small m-b-xs">
            <strong>alex Trebek</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 07 Apr 2015</span>
          </div>
          <p>
            Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just zebra, and my wolves quack! Blowzy red vixens fight for a quick.
          </p>
          <p>
            On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the.
          </p>
          <div class="row">
            <div class="col-md-6">
              <h5>Tags:</h5>
              <button class="btn btn-white btn-xs" type="button">Model</button>
              <button class="btn btn-white btn-xs" type="button">Publishing</button>
              <button class="btn btn-white btn-xs" type="button">Modern</button>
              <button class="btn btn-white btn-xs" type="button">Premium</button>
            </div>
            <div class="col-md-6">
              <div class="small text-right">
                <h5>Stats:</h5>
                <div> <i class="fa fa-comments-o"> </i> 23 comments </div>
                <i class="fa fa-eye"> </i> 34 views
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <a href="<%#= url_for :controller => 'appviews', :action => 'article' %>" class="btn-link">
            <h2>
              The European languages are members
            </h2>
          </a>
          <div class="small m-b-xs">
            <strong>Anthony Pits</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 04 Jan 2015</span>
          </div>
          <p>
            The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.
          </p>
          <div class="row">
            <div class="col-md-6">
              <h5>Tags:</h5>
              <button class="btn btn-primary btn-xs" type="button">Publishing</button>
              <button class="btn btn-white btn-xs" type="button">Model</button>
            </div>
            <div class="col-md-6">
              <div class="small text-right">
                <h5>Stats:</h5>
                <div> <i class="fa fa-comments-o"> </i> 54 comments </div>
                <i class="fa fa-eye"> </i> 52 views
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<%= render 'shared/pages/pagy_navigation' %>
<%= render 'shared/pages/footer' %>

