<% objects.each do |object| %>
  <tr class="gradeX">
    <td><%= object.title %></td>
    <td>
      <p>
        Tải về: <i class="fa fa-download" aria-hidden="true"></i>
        <%= link_to object.attachment.file.filename, object.attachment.url %>
      </p>
    </td>
    <td class="center"><%= object.created_at.strftime("%d-%m-%Y") %></td>
  </tr>
<% end %>