<div class="middle-box text-center animated fadeInDown">
  <h1>500</h1>
  <h3 class="font-bold">Internal Server Error</h3>

  <div class="error-desc">
    Máy chủ gặp sự cố không mong muốn, cho nên yêu cầu không được thực hiện. Chúng tôi xin lỗi.<br />
    Bạn có thể quay lại trang chủ theo đường liên kết này: <br /><%= link_to 'Trang chủ', root_path, class: "btn btn-primary m-t" %>
  </div>
</div>