<div class="middle-box text-center animated fadeInDown">
  <h1>404</h1>
  <h3 class="font-bold">Không tìm thấy trang</h3>

  <div class="error-desc">
    Xin lỗi, không tìm thấy trang bạn đang tìm kiếm. Hãy thử kiểm tra lại liên kết URL, sau đó nhấn nút làm mới trên trình duyệt của bạn.
  </div>
</div>