<div class="middle-box text-center animated fadeInDown">
  <h1>422</h1>
  <h3 class="font-bold">Unprocessable</h3>

  <div class="error-desc">
    Đã có lỗi xảy ra.<br />
    Bạn có thể quay lại trang chủ theo đường liên kết này: <br /><%= link_to 'Trang chủ', root_path, class: "btn btn-primary m-t" %>
  </div>
</div>