<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="ibox float-e-margins">
        <div class="ibox-content ">
          <div class="carousel slide" id="carousel2">
            <ol class="carousel-indicators">
              <li data-slide-to="<%= array_carousels.last&.id %>" data-target="#carousel2" class="active"></li>
              <% recently_active_carousel.each do |carousel| %>
                <li data-slide-to="<%= carousel&.id %>" data-target="#carousel2"></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <% if array_carousels.last&.image %>
                  <%= image_tag(array_carousels.last.image, class:"img-responsive", alt: "Băng rôn") %>
                <% end %>
              </div>
              <% recently_active_carousel.each do |carousel| %>
                <div class="item ">
                  <%= image_tag(carousel.image, class:"img-responsive") %>
                </div>
              <% end %>
            </div>
            <a data-slide="prev" href="#carousel2" class="left carousel-control">
              <span class="icon-prev"></span>
            </a>
            <a data-slide="next" href="#carousel2" class="right carousel-control">
              <span class="icon-next"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>